.main-view {
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    
    }
.button {
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-background-color: #E6F3FF;
    -fx-background-radius: 20;
    -fx-border-color: #A9C9FF;
    -fx-border-width: 1px;
    -fx-border-radius: 20;
    -fx-padding: 10px 20px;
    -fx-min-width: 120px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 1);
}

.button:hover {
    -fx-background-color: #B4E6E6;
    -fx-border-color: #B4E6E6;
}


.label-title {
    -fx-font-family: "Courier New", sans-serif;
    -fx-font-size: 40px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}


    

